

.crd-login{
    height: 500px;
    margin-left: 600px;

    margin-top: 100px;
    width: 500px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /*box-shadow:20px 20px 50px 10px grey ;*/
    cursor: pointer;
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    /*margin-top: 40px;*/
    /*margin-left: 100px;*/

    /*background-color: magenta;*/
    border-radius: 20px;
    /*border-style: solid;*/
    /*border-color: silver;*/
    /*box-shadow: silver;*/
}
.crd-login:hover{
    height: 500px;
    margin-left: 600px;
    margin-top: 100px;
    width: 500px;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    /*margin-top: 40px;*/
    /*margin-left: 100px;*/

    /*background-color: magenta;*/
    border-radius: 20px;
    /*border-style: solid;*/
    /*border-color: silver;*/
    /*box-shadow: silver;*/
}
.box-login{
    margin: 30px;
}
.login-topic{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 170px;

}
.labels{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.signin-btn{
    width: 150px;
    height: 40px;
    margin-top: 50px;
    /*margin-left: 10px;*/
    border-radius: 10px;
    border-style: solid;
    border-color: #1836d2;
    color: white;
    background-color: #1836d2;
}

.signin-btn:hover{
    width: 150px;
    height: 40px;
    margin-top: 50px;
    /*margin-left: 130px;*/
    border-radius: 10px;
    border-style: solid;
    border-color: #1836d2;
    color: #1836d2;
    background-color: white;
}

/*.background {*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    font-weight: 400;*/
/*    font-family: sans-serif;*/
/*    background: #12c2e9;  !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to right, #042cfa, #3653f3, #12c2e9);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to right, #042cfa, #3653f3, #12c2e9)*/
/*}*/

.background {
    position: relative;
    /*background-image: url('../Assets/Home-bg.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    width: auto;
    height: 550px;
}

.register-link{

    align-items: center;
    text-align: center;
    margin-top: 20px;

}
.register-link:hover{

    align-items: center;
    text-align: center;
    margin-top: 20px;
color: #0c0c0c;
}
.register-link-div{
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.form-control-reg{
    margin-top: 2px;
    margin-bottom: 5px;
    /*border-style: solid;*/
    /*border-color: #707070;*/
}
.form-control-reg:hover{
    margin-top: 2px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #1836d2;
}
.logo-img:hover{
    transform: scale(1.05);
    /*box-shadow:20px 20px 50px 10px grey ;*/
    cursor: pointer;
}
.crd-register{
    height: 600px;
    margin-left: 600px;

    margin-top: 50px;
    width: 500px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /*box-shadow:20px 20px 50px 10px grey ;*/
    cursor: pointer;
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    /*margin-top: 40px;*/
    /*margin-left: 100px;*/

    /*background-color: magenta;*/
    border-radius: 20px;
    /*border-style: solid;*/
    /*border-color: silver;*/
    /*box-shadow: silver;*/
}
.crd-register:hover{
    height: 600px;
    margin-left: 600px;

    margin-top: 50px;
    width: 500px;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    /*box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
    /*margin-top: 40px;*/
    /*margin-left: 100px;*/

    /*background-color: magenta;*/
    border-radius: 20px;
    /*border-style: solid;*/
    /*border-color: silver;*/
    /*box-shadow: silver;*/
}



